/* general */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;800&display=swap');
@font-face {
  font-family: AvertaDemo-Regular;
  src: url(../fonts/AvertaDemo-Regular.otf);
}

a{
    text-decoration: none !important;
}
nav{
    background-color: white !important;
}
.uk-navbar-container{
  z-index: 999;
 }

 .uk-drop.uk-open{
    top:70px !important;
 }
a.nav-font{
    font-family: 'Barlow', sans-serif !important;
    font-size: 15px !important;
    color: rgb(75, 75, 75) !important;
    text-transform: capitalize;
    font-weight: 500;
}
a.nav-font:hover{
     color: var(--green)!important;
}

.uk-navbar-container:not(.uk-navbar-transparent) a.nav-font {
    color: rgb(75, 75, 75) !important;
}
.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    min-height: 70px !important;
}
.uk-navbar-nav .uk-navbar-dropdown li a:hover{
    transform: translateX(6px);
transition:.3s;
}
@media (min-width: 960px){
.uk-navbar-nav {
    gap: 40px !important;
}
}
:root {
    --green: #00A652;
    --dark-blue: #14457b;
    --red:rgb(197,50,47);
    
  }
.uk-section-padding{
    padding: 100px 70px;
  }
/* font */
/* banner font */
.small-nav-font{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.banner-primary-font{
    font-family: 'Barlow', sans-serif;
    font-size: 45px !important;
    font-weight: 900;
    line-height: 1.2;
}
.banner-secondary-font{
    font-family: AvertaDemo-Regular;
    font-size: 17px;
    color: white;
}
.banner-para-font{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
}

/* section font */
.white-small-primary-font{
    color:white;
    font-family: 'Barlow', sans-serif;
    font-size: 25px !important;
    font-weight: 900;
    line-height: 1.2;
}
.section-primary-font, .white-section-primary-font{      
    font-family: 'Barlow', sans-serif;
    font-size: 37px !important;
    font-weight: 700;
    line-height: 1.2;
}
.white-section-primary-font{
    color: white;
}
.white-section-secondary-font{
    font-family: AvertaDemo-Regular;
    font-size: 22px;
    color: white;
}
.green-secondary-font{
    font-family: AvertaDemo-Regular;
    font-size: 18px;
    color: var(--green);
    font-weight: 900;
    text-transform: uppercase;
}
.para-font{
    font-family: 'Poppins', sans-serif;
    color: #606b72;
    font-size: 15px;
    font-weight: 400;
    
    line-height: 1.6;
}
.service-primary-font{
    font-family: 'Barlow', sans-serif;
    font-size: 23px !important;
    font-weight: 900;
    line-height: 1.2;
    
}
.overlay-para-font{
    color:white;
}
/* button */

.blue-button,.red-button,.package-btn{
    font-size: 16px;
    font-family: AvertaDemo-Regular;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    padding: 12px 30px !important;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    margin-right: 10px;
   
}
.blue-button{
    background: var(--dark-blue);
}
.blue-button:hover{
    background: var(--red);
    color: #fff;
    text-decoration: none;
}
.red-button{
    background: var(--red);
}
.red-button:hover{
    background: var(--dark-blue);
    color: #fff;
    text-decoration: none;
}
.package-btn{
    background: none;
    border: 1px solid white;
}
.package-btn:hover{
    background: white;
    color: black;
    text-decoration: none;
}
td{
    padding: 10px 0;
}

.services-btn{
    background-color: var(--dark-blue);;
    padding: 10px 20px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 20px;
}
.services-btn1{
    color: var(--dark-blue);;
    background: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: none;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 0;
}

/* .single-feature {
        background: #f9f9fd;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
}
.single-feature:hover {
    background: #fff;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
} */
.banner{
    color: white;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
    z-index: 1;
    }
.uk-main {
    max-width: 600px;
    z-index: 5;
 }

.top-icon-section{
    width: 120px;
    height: 120px;
    background-color: var(--dark-blue);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}
.text-section{
    border:1px solid var(--dark-blue);
    text-align: center;
}
.services-body{
    padding: 28px 35px !important;
}

.left-arrow{
    left: -35px !important;
}
.left-arrow ,.right-arrow{
    background-color:var(--light-green) !important;
    border-radius: 50% !important;
    padding: 10px 15px !important;
    
}
.about-section{
    background-image:url(../img/bg.png);

}
.client-section{
    background-image:url(../img/bg.png);
}
.uk-image-user img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

/* Service Section */
.service-overlay1{
    background: rgba(0, 0, 0, 0.5) !important;
}
.service-overlay{
    height: 400px;
    background-color:  var(--dark-blue)!important;
    color: #fff;
    transition: 1s ease !important;
}
.services-block{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding:25px 15px; 
    background:white;
}
/* :hover .services-block {
    box-shadow: rgba(62, 182, 15, 0.6) 0px 4px 12px;
} */
/* Blog Section */
.blog-font{
    font-family: AvertaDemo-Regular;
    font-size: 20px;
    font-weight: 800;
}
.remeber-section{
    background-position: center;
    background-image: url(../img/last.jpg);
}
.banner-white-font{
    font-family: 'Barlow', sans-serif;  
    font-size: 40px !important;
    font-weight: 700;
    line-height: 1.2;
}
/* footer */
footer{
    background: #314355;
    color:white;
}
footer a{
    color: white;
}
footer a:hover{
    color: white;
    text-decoration:none;
}
.uk-footer-title{
    font-family: AvertaDemo-Regular;
    font-size: 22px;
    color: white;
}
.footer-list{
    list-style: none;
}
.uk-third-footer{
    background:#2B3B4B;
}
.uk-offcanvas-bar{
    background-color: white !important;
}
.footer-icon {
    color: var(--green)!important;
    background-color: #606b7247!important;
}
.uk-offcanvas-close{
    color: #00A652 !important;
}
/************************************** about us page **********************************************/
.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 57vh;
    background: black;
    opacity: 0.4;
    z-index: 1;
    }

.about-us-banner{
   background: url(https://www.gep.com/prod/s3fs-public/styles/blog_hero_banner/public/blog-images/digitization-makes-inroads-into-laboratory-operations-management.jpg.webp?itok=YJA4fpP1); 
   height: 57vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}
.banner-text{
  padding-top: 160px;
  text-align: center;
  z-index: 5 ;
 
}
.active-page{
    color: var(--green) !important;
}
.mission-section{
    background-image:url(../img/bg.png);
}
/* Team member */
.team-img{
    width: 100%;
}
.team-img img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.team-overlay{
    background-color: rgba(0, 0, 0, .7) !important;
    padding: 5px !important;
}
.team-icon span{
    color: white;
    height: 18px;
    width: 18px;
    margin-right: 10px;
}
.learn-btn{
    background: none !important;
    border: none !important;
    padding: 0!important;
    font-size: 16px;
    color: var(--green);
    font-family:  AvertaDemo-Regular;
    font-weight: 500;
}
.learn-btn a{
    color: var(--green);
}
.learn-btn a :hover, .learn-btn  :hover  {
    color: var(--red);
}
/******************Specialities Section********************* */
.services-banner{
    background: url(https://www.gep.com/prod/s3fs-public/styles/blog_hero_banner/public/blog-images/digitization-makes-inroads-into-laboratory-operations-management.jpg.webp?itok=YJA4fpP1); 
    height: 57vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.specialities-img{
    width: 100%;
}
.specialities-img img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.specialities-img ,.specialities-related-img{
    width: 100%;
}
.specialities-img img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.specialities-related-img img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.specialities-list{
    list-style-image: url(../img/icons/arrow-right.png);
}
/************Contact Us*************** */
