/* general */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

@font-face {
  font-family: AvertaDemo-Regular;
  src: url(../fonts/AvertaDemo-Regular.otf);
}
 
a.nav-font{
    font-family: AvertaDemo-Regular !important;
    text-transform: none !important;
    font-size: 17px !important;
    color: white !important;

}
:root {
    --green: #00A652;
    --dark-blue: #14457b;
    --red:rgb(197,50,47);
    
  }
.uk-section-padding{
    padding: 100px 70px;
  }
/* font */
/* banner font */
.banner-primary-font{
    font-family: "Ubuntu", sans-serif;
    font-size: 45px !important;
    font-weight: 700;
    line-height: 1.2;
}
.banner-secondary-font{
    font-family: AvertaDemo-Regular;
    font-size: 22px;
    color: white;
}
.banner-para-font{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
}

/* section font */
.white-small-primary-font{
    color:white;
    font-family: "Ubuntu", sans-serif;
    font-size: 25px !important;
    font-weight: 700;
    line-height: 1.2;
}
.section-primary-font, .white-section-primary-font{      
    font-family: "Ubuntu", sans-serif;
    font-size: 45px !important;
    font-weight: 700;
    line-height: 1.2;
}
.white-section-primary-font{
    color: white;
}
.white-section-secondary-font{
    font-family: AvertaDemo-Regular;
    font-size: 22px;
    color: white;
}
.green-secondary-font{
    font-family: AvertaDemo-Regular;
    font-size: 22px;
    color: var(--green);
    font-weight: 700;
}
.para-font{
    font-family: 'Poppins', sans-serif;
    color: #606b72;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
}
.service-primary-font{
    font-family: "Ubuntu", sans-serif;
    font-size: 23px !important;
    font-weight: 700;
    line-height: 1.2;
    
}
.overlay-para-font{
    color:white;
}
/* button */

.blue-button,.red-button,.package-btn{
    font-size: 16px;
    font-family: AvertaDemo-Regular;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    padding: 12px 30px !important;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    margin-right: 10px;
   
}
.blue-button{
    background: var(--dark-blue);
}
.blue-button:hover{
    background: var(--red);
    color: #fff;
    text-decoration: none;
}
.red-button{
    background: var(--red);
}
.red-button:hover{
    background: var(--dark-blue);
    color: #fff;
    text-decoration: none;
}
.package-btn{
    background: none;
    border: 1px solid white;
}
.package-btn:hover{
    background: white;
    color: black;
    text-decoration: none;
}
td{
    padding: 10px 0;
}

.emergency-btn{
    background-color: transparent;
    border-radius: 18px ;
    border: 1px solid white;
    color: white;
    padding: 8px 15px;
}
.services-btn{
    background-color: var(--dark-blue);;
    padding: 10px 20px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 20px;
}
.services-btn1{
    color: var(--dark-blue);;
    background: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: none;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 0;
}

/* .single-feature {
        background: #f9f9fd;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
}
.single-feature:hover {
    background: #fff;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
} */
.banner{
    color: white;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
    z-index: 1;
    }
.uk-main {
    max-width: 600px;
    z-index: 5;
 }

.top-icon-section{
    width: 120px;
    height: 120px;
    background-color: var(--dark-blue);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}
.text-section{
    border:1px solid var(--dark-blue);
    text-align: center;
}
.services-body{
    padding: 28px 35px !important;
}

.left-arrow{
    left: -35px !important;
}
.left-arrow ,.right-arrow{
    background-color:var(--light-green) !important;
    border-radius: 50% !important;
    padding: 10px 15px !important;
    
}
/* aboutus */
.about-section{
    /* background:  linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7987570028011204) 2%, rgba(255,255,255,0.5830707282913166) 93%) ,url(../img/bg-3.jpg);  */
    background-size:cover;
   
}
/* Team member */
.uk-team-member{
    border-radius:15px;
}
.uk-team-member img{
    border-top-right-radius:15px;
    border-top-left-radius:15px;
}
/* Service Section */
.service-overlay1{
    background: rgba(0, 0, 0, 0.5) !important;
}
.service-overlay{
    height: 400px;
    background-color:  var(--dark-blue)!important;
    color: #fff;
    transition: 1s ease !important;
}

/* Blog Section */
.blog-font{
    font-family: AvertaDemo-Regular;
    font-size: 20px;
    font-weight: 800;
}
/* footer */
footer{
    background: #314355;
    color:white;
}
footer a{
    color: white;
}
footer a:hover{
    color: white;
    text-decoration:none;
}
.uk-footer-title{
    font-family: AvertaDemo-Regular;
    font-size: 22px;
    color: white;
}
.footer-list{
    list-style: none;
}
.uk-third-footer{
    background:#2B3B4B;
}
/* about us */
.banner1{
   background: url(https://www.shutterstock.com/image-photo/healthcare-people-group-professional-doctor-260nw-1213711042.jpg); 
   height: 57vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.banner-text{
   padding-top: 120px;;
}

/* About page */
.tabs{
    font-family: 'Poppins', sans-serif;
    color: black !important;
    font-size: 15px;
    font-weight: 400;
}
.uk-tab>.uk-active>a {
    background-color: var(--green);
    padding: 10px 15px;
    font-family: 'Poppins', sans-serif;
    color: white !important;
    font-size: 15px;
    font-weight: 400;
}